.card-title{
    text-align: center;
    color: black;
}

.card-img-bottom{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    height: 35%;
    width: 50%;

}

.card{
    border-radius: 0%;
    border-color:#E3E0DE;
    background-color: #E3E0DE;
    padding-bottom: auto;
}